{% extends "base.html" %}
{% block content %}
    <strong> What is Continuous Integration and Deployment? </strong> <br><br>

    <strong>Continuous Delivery: </strong> </p>

    Explain how you have the project setup to use GitHub Actions, How you can review code using a development server before merging pull
    requests, how you can deploy master to a production server. Explain how you deploy an image of your project to Dockerhub when master is
    updated.

    <br><br><br>
    <strong>Much of the info written here is from Martin Fowler's Website, https://www.martinfowler.com. </strong>
{% endblock %}