{% extends "base.html" %}
{% block content %}
    <strong> The Terminology of Object-Oriented Programming </strong> <br><br>

    <strong>Instantiation: </strong> A</p>
    <img src="https://www.cdslab.org/python/notes/object-oriented-programming/instantiation/progEvol.png", alt="Instantiation Diagram"/>
    <br><br><br>

    <strong>Object: </strong> U. </p>
    <img src="https://wac-cdn.atlassian.com/dam/jcr:c6db91c1-1343-4d45-8c93-bdba910b9506/02%20Branch-1%20kopiera.png?cdnVersion=243", alt="An example of a merge"/>
    <br><br><br>

    <strong>Class: </strong> C.</p>
    <img src="https://backlog.com/app/themes/backlog-child/assets/img/guides/git/basics/rewriting_history_001.png" alt="Git Commit Example">
    <br><br><br>

    <strong>Namespace: </strong> E. </p>
    <img src="https://assets-global.website-files.com/5ff621612284ed73d44c11f3/5ff621612284edbe0f4c1c58_5f19a241624e0709908d965b_robin-github-issue-tag-system.png" alt="Github Tag Classification">
    <br><br><br>

    <strong>Constructor: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Fixture: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Type Hint: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Type Cast: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>


    <strong>Unit Test: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>


    <strong>Static: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Instance Method: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Instance Property: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>


    <strong>Static Method: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>


    <strong>Static Property: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Encapsulation: </strong> The action of enclosing something, in programming encapsulation . </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Inheritance: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Polymorphism: </strong> The condition of having multiple forms, in programming polymorphism is the same function
    name being utilized for different types. Being in-built or user defined, polymorphism allows for easier creation of multiple
    classes as well as usage of functions upon different data types. For example, the len function in Python can be used both
    to count the number of characters in a string, as well how many items there is in a list. When used for classes/objects,
    polymorphism allows for inheritance; which is used to share and allow for overwriting of common features. The image below
    demonstrates an example of this in the form of a 'parent' animal class, with two 'children' classes which inherit multiple
    features, but overrides/has a unique feature for each in the form of the sound each animal makes.</p>
    <img src="https://javatutorial.net/wp-content/uploads/2017/10/java-polymorphism-featured-image-1280x720.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Abstraction: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Overview of SOLID: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>

    <strong>Overview of Design Patterns: </strong> A. </p>
    <img src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/projects/develop-app-with-salesforce-cli-and-source-control/add-salesforce-dx-project-to-source-control/images/bf546ec3acd964673bf5f6302125fd93_step-4-github-and-git-clones.png" alt="Github remote repository example">
    <br><br><br>
{% endblock %}